[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"

[packages]
click = "*"
toolz = "*"
attrs = "*"
click-default-group = "*"
parso = "*"
twisted = "*"

[requires]
python_version = "3.6"

[dev-packages]
"flake8" = "*"
bumpversion = "*"
coverage = "*"
hypothesis = "*"
pylint = "*"
pytest = "*"
requests = "*"
aiohttp = "*"
jedi = "*"
"autopep8" = "*"
yapf = "*"
parso = "*"
twine = "*"
vulture = "*"
treq = "*"
