[[source]]

verify_ssl = true
name = "pypi"
url = "https://pypi.python.org/simple"


[packages]

click = "*"
toolz = "*"



[requires]

python_version = "3.6"


[dev-packages]

rope = "*"
"flake8" = "*"
pylint = "*"
coverage = "*"
bumpversion = "*"
"flake8" = "*"
pytest = "*"
hypothesis = "*"
pylint = "*"
