click==7.0
toolz==0.9.0
attrs==19.1.0
parso==0.4.0
bump2version==0.5.10
trio==0.11.0
async_generator==1.10
async_exit_stack==1.0.1
appdirs==1.4.3
toml==0.10.0
asks==2.3.5
marshmallow==3.0rc8
pyrsistent==0.15.2
trio_typing==0.2.0
docutils==0.14
sphinx==2.1.2
pytest==5.0.1
importlib_metadata==0.18
xmltodict==0.12.0
pyyaml==5.1.1
