sphinx>=1.3
sphinx-rtd-theme
sphinx-autodoc-typehints
sphinx-click
git+https://github.com/fuhrysteve/marshmallow-jsonschema.git@1cdf9a1502a26882ca03478602c2067accd00893
sphinx-jsonschema
marshmallow==3.0.0rc8
-e .
